#*
 * This file is part of Maven package-info.java Plugin.
 *
 * Maven package-info.java Plugin is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Maven package-info.java Plugin is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Maven package-info.java Plugin.  If not, see <http://www.gnu.org/licenses/>.
 *#

 ------
 Examples
 ------
 Shadowhunt
 ------

Examples

	Annotate net.example.application.gui and net.example.application.database (with all their subpackages)  with <<<javax.annotation.ParametersAreNonnullByDefault>>> annotations

+-----+
<project>
    ...
    <plugins>
        <plugin>
            <groupId>de.shadowhunt.maven.plugins</groupId>
            <artifactId>package-info-maven-plugin</artifactId>
            <version>${project.version}</version>
            <configuration>
                <packages>
                    <package>
                        <annotations>
                            <annotation>@javax.annotation.ParametersAreNonnullByDefault</annotation>
                        </annotations>
                        <regex>net\.example\.application\.(gui|database)\..*</regex>
                    </package>
                </packages>
            </configuration>
            <executions>
                <execution>
                    <phase>generate-sources</phase>
                    <goals>
                        <goal>package-info</goal>
                    </goals>
                </execution>
            </executions>
        </plugin>
    </plugins>
    ...
</project>
+-----+

